<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Torturium</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>

    <style>
        .user {
            font-weight: bold;
            color: darkblue;
        }
        .ts {
            color: darkred;
        }
    </style>

    <script type="text/x-mustache-template" id="room-template">
        <div class="list-group-item room" id="room-{{! name }}" data-name={{! name }}>
            <h4>
                <a data-toggle="collapse" data-target="#room-{{! name }}-messages">
                    {{! name }}
                </a>
                <a href="#leave-room-{{! name }}" class="btn btn-danger pull-right" role="button"
                   onclick="leave_room('{{! name }}');">
                    <i class="fa fa-ban"></i>
                    Leave
                </a>
            </h4>
            <div id="room-{{! name }}-messages" class="panel panel-default collapse">
                <div class="panel-body messages">
                    <div class="message">Welcome to {{! name }}!</div>
                </div>
                <div class="panel-footer">
                    <form id="room-{{!name}}-write" class="send-message">
                        <div class="input-group">
                            <span class="input-group-addon">You:</span>
                            <input type="text" name="message" placeholder="Type here" class="form-control"/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-mustache-template" id="message-template">
        <div class="message">
            <span class="ts">[{{!ts}}] </span>
            <span class="user">{{!from}}:</span>
            <span class="message">{{!message}}</span>
        </div>
    </script>
    <script>
        var ws;

        var leave_room = function(roomname) {
            var room = $('#room-'+roomname);
            ws.send('leave ' + roomname);
            room.remove();
        };

        var send = function(event) {
            event.preventDefault();

            var room = $(this).closest('.room'),
                message = $(this).find('[name=message]').val();

            ws.send('write ' + room.data('name') + ' ' + message);
            $(this)[0].reset();
        };

        var add_message = function(roomname, message, from, ts) {
            var messages = $('#room-'+roomname).find('.messages');
            messages.append(Handlebars.compile($('#message-template').html())({message: message, from: from, ts: ts}));
        };

        $(document).ready(function(){
            console.log('Starting');
            var ws_uri;
            if (location.protocol === "https:") {
                ws_uri = "wss:";
            } else {
                ws_uri = "ws:";
            }
            ws_uri += "//" + location.host + '{{ reverse_url("ws") }}';
            ws = new WebSocket(ws_uri);
            ws.onmessage = function(event) {
                var dt = JSON.parse(event.data);
                console.log(dt);
                if(dt.hasOwnProperty('status')) {
                    // response
                    console.log('Last action ends with status "'+dt.status+'".')
                    if (dt.status != 'ok') {
                        for (var i = 0; i < dt.errors.length; ++i){
                            console.error(dt.errors[i]);
                            alert(dt.errors[i]);
                        }
                    }
                    else if (dt.command == 'Login') {
                        alert('Successfully logged in as '+dt.user);
                        $('#loginform').hide();
                        $('#loggedin').removeClass('hidden').find('.user').text(dt.user);
                    }
                }
                else if(dt.hasOwnProperty('action') && dt.action === 'get_message') {
                    add_message(dt.room, dt.msg, dt.from, dt.server_ts);
                }
                else {
                    console.warn('Unrecognized server message format: '+dt+'. Original data was: '+event.data)
                }
            };

            $('#loginform').submit(function(event) {
                event.preventDefault();
                ws.send('login ' + $(this).find('[name=nick]').val());
                $(this)[0].reset();
            });

            $('#joinroom').submit(function(event) {
                event.preventDefault();
                var room_name = $(this).find('[name=room]').val();
                ws.send('join ' + room_name);
                var room = $(Handlebars.compile($('#room-template').html())({name: room_name}));
                room.find('.send-message').submit(send);
                $('#rooms').prepend(room);
                $(this)[0].reset();
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div id="login">
        <form id="loginform" class="form-inline">
            <div class="input-group">
                <input type="text" name="nick" placeholder="Your nickname here" id="nick" class="form-control"/>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
        <div id="loggedin" class="hidden">You are logged in as <span class="user"></span>.</div>
    </div>
    <div id="rooms" class="list-group">
        <form id="joinroom" class="form-inline list-group-item">
            <div class="input-group">
                <input type="text" name="room" placeholder="Which room you want to subscribe?" id="room" class="form-control"/>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-plus"></i>
                        Join to room
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
